@font-face {
    font-family: 'Carena';  
    src: url('Carena-Regular.otf');
}

:root {
    --fairyTale: #F4C5D7;
    --rosePompadour: #E981A4;
    --cherryBlossom: #F9ADB7;
    --teaRose: #FEC9C3;
    --cosmicLatte: #FAF2DD;
}

html {
    background-color: #feeeed;
    opacity: 0.7;
    background-image: radial-gradient(var(--fairyTale) 1.3px, #feeeed 1.3px);
    background-size: 26px 26px;
}
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Carena';
    font-size: 50px;
    font-weight: 100;
    font-stretch:extra-expanded;
    text-align: center;
    color: var(--rosePompadour);
}

body {
    font-size: 30px !important; 
}

.postContainer {
    max-width: 40em;
    margin: 100px auto;
    padding: 2em;
    border: 5px dotted var(--rosePompadour);
    border-radius: 3em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9ff;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

h3, p {
  
    font-family: "Carena";
    color: var(--rosePompadour);
    font-weight: 100;
    width: 25em;
    margin: 20px 0 30px 100px;
}